
h1 {
    color: rgb(255, 251, 251);
    font-family: 'Franklin Gothic Medium';
    font-stretch: wider;
  }
  
  
body{
  background: rgb(13,255,0);
  background: linear-gradient(90deg, rgba(13,255,0,1) 0%, rgba(252,0,255,1) 100%);
   }


p  { color: white;
font-family:"Comic sans MS"
}


  li {
    color: white;
    font-family: "comic sans MS";
    list-style-type: circle;
  }

.special {
  font-family: "comic sans MS";
  color: rgb(38, 0, 255);
font-weight: bold;
}
  
    
    
     