
h1 {
    color: rgb(255, 251, 251);
    font-family: 'Franklin Gothic Medium';
    font-size: 250%
 
}

  
body{
  background: rgb(13,255,0);
  background: linear-gradient(90deg, rgba(13,255,0,1) 0%, rgba(252,0,255,1) 100%);
   }

.welcome {
  font-size: 125%;
}

p  { color: #ffffff;
font-family:"Comic sans MS"
}

article p span {
  color: rgb(38, 0, 255)
}


.special {
  font-family: "comic sans MS";
  color: rgb(38, 0, 255);
font-weight: bold;
}
 
a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: "Reggie gets bath";
}

    
    
     